*{
    margin: 0;
    padding: 0;
    color: aliceblue;
}

.caixa{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 10px;
    border-radius: 16px;
    gap: 32rem;
    padding: 50px;
    background-color: #503C3C;
    
}

.caixa h1{
    font-size: 40px;
}

.titulo{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 15px;
}

.lista{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: normal;
}

.lista a{
    text-decoration: none;
   
}

.lista img{
    max-width: 20px;
}

body{
    background-color: #3E3232;
}

.receita{
    background-color: #7E6363;
    width: 20%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.receita2{
    background-color: #7E6363;
    width: 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.secoes{
    display: flex;
    justify-content: center;
    gap: 30vh;
    height: 20vh;
}
.insta{
    max-width: 30px;
}

.insta img{
    max-width: 250px;
}